<%= form_with(model: user, class: "flex flex-col space-y-5 w-full") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul class="list-disc ml-6">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="flex flex-col items-center gap-5 md:flex-row">
    <div class="w-full">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>
    <div class="w-full">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>
  </section>

  <div class="w-full">
    <%= form.label :email_address %>
    <%= form.text_field :email_address %>
  </div>

  <div class="w-full">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="w-full">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="flex justify-end">
    <%= form.submit "Create Account", class: "max-w-fit rounded-sm font-display text-white border border-2 px-2 py-3 cursor-pointer bg-black font-medium hover:bg-yellow-300 hover:text-black" %>
  </div>
<% end %>
