<%= form_with(model: order, url: orders_path(locale: I18n.locale), class: "flex flex-col space-y-5 w-full mt-[-13.5]") do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= t("errors.template.header", count: order.errors.count, model: t("activerecord.models.order")) %>.</h2>
      <p><%= t("errors.template.body") %></p>
      <ul class="list-disc ml-6">
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, t(".name") %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address, t(".address") %>
    <%= form.textarea :address, rows: 3 %>
  </div>

  <div>
    <%= form.label :email, t(".email") %>
    <%= form.email_field :email %>
  </div>

  <div data-controller="payment" class="flex flex-col gap-5">
    <div>
      <%= form.label :pay_type, t(".payment_method") %>
      <%= form.select :pay_type, Order.pay_types.keys.map { |key| [t(".pay_types.#{key}"), key] }, { prompt: t(".pay_prompt") }, data: { action: "payment#showAdditionalFields", "payment-target": "selection" } %>
    </div>
    
    <%= render partial: "check", locals: { form: form } %>
    <%= render partial: "credit_card", locals: { form: form } %>
    <%= render partial: "purchase_order", locals: { form: form } %>
  </div>

  <div class="flex justify-end">
    <%= form.submit t("store.place_order"), class: "max-w-fit rounded-sm font-display text-white border border-2 px-2 py-3 cursor-pointer bg-black font-medium hover:bg-yellow-300 hover:text-black" %>
  </div>
<% end %>
