<ul id="<%= dom_id cart %>" class="w-full sm:w-auto my-5 space-y-5">
    <% cart.line_items.each do |item| %>
        <li class="flex flex-col space-x-2 p-4 border-gray-200 border-1 rounded md:flex-row">
            <%= image_tag item.product.image, alt: item.product.title, class: "w-full object-cover lg:max-w-40" %>
            <div class="flex w-full flex-col pt-2">
                <div class="flex w-full max-h-fit items-center justify-between">
                    <h2 class="font-display text-xl font-medium"><%= item.product.title %> &times; <%= item.quantity %></h2>
                </div>
                <p class="text-lg font-bold"><%= number_to_currency item.product.price * item.quantity %></p>
                <% if item.quantity > 1 %>
                    <p class="text-sm text-gray-600"><%= item.product.price %> / each</p>
                <% end %>
            </div>
        </li>
    <% end %>
</ul>
