<% without_checkout ||= false %>

<aside class="p-4 flex flex-col w-full gap-2">
    <section id="<%= dom_id cart %>" class="w-full space-y-5 mb-8 sm:w-auto">
        <%= render cart.line_items %>
    </section>
    <section class="mt-5 p-4 bg-gray-100 rounded max-h-fit">
        <h2 class="font-display text-lg font-medium text-right"><%= t("store.order_summary") %></h2>
        <p class="text-base text-right">Total <%= number_to_currency cart.total_price %></p>
    </section>
    <% unless without_checkout %>
        <section class="flex justify-end mb-4">
            <%= button_to t("store.checkout"), new_order_path, method: :get, class: "rounded-sm font-display text-white border-2 px-2 py-3 cursor-pointer bg-black font-medium hover:bg-yellow-300 hover:text-black" %>
        </section>
    <% end %>
    <%= button_to t("store.empty_cart"), cart_path(cart), method: :delete, class: "underline cursor-pointer flex justify-end w-full text-xs" %>
</aside>
