<article id="<%= dom_id product %>" class="flex flex-col gap-4 lg:flex-row lg:items-start">
  <%= image_tag product.image, class: "w-full object-cover lg:max-w-40" %>
  <section class="flex flex-col space-y-1">
    <h2 class="font-medium text-xl"><%= product.title %></h2>
    <p><%= truncate(strip_tags(product.description), length: 300) %></p>
    <p class="font-bold"><%= number_to_currency product.price %></p>
  </section>
</article>
