<%= turbo_frame_tag(dom_id(product)) do %>
    <article class="flex flex-col h-full justify-between space-y-2 p-4 border-gray-200 border-1 rounded">
        <div>
            <%= image_tag product.image, alt: product.title, class: "w-full object-cover mb-2" %>
            <h2 class="font-display text-xl font-medium"><%= product.title %></h2>
            <p class="font-bold"><%= number_to_currency product.price %></p>
            <p><%= truncate(strip_tags(product.description), length: 100) %></p>
        </div>
        <%= button_to "Add to Cart", line_items_path(product_id: product), class: "rounded-sm font-display text-black border-2 px-2 py-3 cursor-pointer bg-white font-medium hover:bg-yellow-300" %>
    </article>
<% end %>
