<div class="flex flex-col space-y-5">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-display font-medium text-4xl">Products</h1>

  <% if @products.any? %>
    <ul class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-5">
      <% cache @products do %>
        <% @products.each do |product| %>
          <% cache product do %>
            <li class="flex flex-col justify-between space-y-2 p-4 border-gray-200 border-1 rounded">
              <div>
                <%= image_tag product.image, alt: product.title, class: "w-full object-cover mb-2" %>
                <h2 class="font-display text-xl font-medium"><%= product.title %></h2>
                <p class="font-bold"><%= number_to_currency product.price %></p>
                <p><%= truncate(strip_tags(product.description), length: 100) %></p>
              </div>
              <%= button_to "Add to Cart", line_items_path(product_id: product), class: "rounded-sm font-display text-white border-2 px-2 py-3 cursor-pointer bg-black font-medium hover:bg-yellow-300 hover:text-black" %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>No Products found!</p>
  <% end %>
</div>
