<div class="flex flex-col space-y-5">
  <%= render "layouts/notice" %>
  <%= render "layouts/alert" %>

  <h1 class="font-display font-medium text-4xl">Products</h1>

  <%= turbo_stream_from "products" %>

  <% if @products.any? %>
    <section class="grid grid-cols-1 gap-4 xl:grid-cols-[1fr_300px]">
      <section class="grid gap-4 grow-1 h-min md:grid-cols-2 xl:grid-cols-3 ">
        <% cache @products do %>
          <% @products.each do |product| %>
            <% cache product do %>
              <%= render partial: "product", object: product %>
            <% end %>
          <% end %>
        <% end %>
      </section>
      <%= render partial: "layouts/cart", locals: { cart: @cart } %>
    </section>
  <% else %>
    <p>No Products found!</p>
  <% end %>
</div>
